html {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(#1885ff 0.8px, transparent 0.8px),
    linear-gradient(90deg, #1885ff 0.8px, transparent 0.8px),
    linear-gradient(#1885ff 0.4px, transparent 0.4px),
    linear-gradient(90deg, #1885ff 0.4px, #e5e5f7 0.4px);
  background-size: 20px 20px, 20px 20px, 4px 4px, 4px 4px;
  background-position: -0.8px -0.8px, -0.8px -0.8px, -0.4px -0.4px,
    -0.4px -0.4px;
}
#root {
  display: flex;
  justify-content: center;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #1885ff;
  border-radius: 5px;
}
.freeGames {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.freeGames h1 {
  color: red;
  font-size: 50px;
}
.gamesList {
  display: flex;
  justify-content: center;
  padding: 5px;
  flex-wrap: wrap;
}
.freeItem {
  max-width: 500px;
  margin: 5px 20px;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.itemDetails {
  border-radius: 0px 0px 15px 15px;
  width: 100%;
  background-color: antiquewhite;
  /* opacity: 45%; */
}
.freeItem img {
  border-radius: 15px 15px 0px 0px;
  max-height: 350px;
  max-width: 500px;
}
.freeItem h3 {
  text-align: center;
  width: 100%;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid red;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
