.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  z-index: 1001;
  display: flex;
  width: 50%;
  justify-content: center;
  flex-wrap: wrap;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.modal-content h1 {
  width: 100%;
  text-align: center;
  align-content: center;
}
.game-description {
  font-size: 2rem;
}
.modal-content img {
  max-width: 500px;
  max-height: 350px;
}
.offer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 1.75rem;
}
.offer p {
}
.offer button {
  padding: 1rem;
  width: 15rem;
  font-size: 1.75rem;
  border-radius: 5px;
}
